body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

::selection {
  color: #f2f2f2;
  background: #0E6E59;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  /* background: #4e545f; */
}

::-webkit-scrollbar-thumb {
  background: #0E6E59;
}

::-webkit-scrollbar-thumb:hover {
  background: #15B39D;
  width: 15px;
}

.main-header{
  padding: 1rem 0;
  transition: box-shadow ease .3s, background ease .3s, padding ease .5s;
  position: fixed;
  background: transparent;
}

.on-scroll-header{
  padding: .5rem 0;
  box-shadow: 0 2px 39px 3px rgba(0,0,0,0.1);
}

.on-scroll-header a{
  color: #ffffff;
}

.hamburger-menu{
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}

@media (max-width: 767px){
  .navbar-collapse{
      opacity: 0;
      transition: height .5s ease-in-out, opacity .7s ease-in-out;
  }
  .navbar-collapse.collapse.show{
      height: 100vh !important;
      opacity: 1;
  }
}

.footer{
  /* position: absolute;
  bottom: 0;
  left: 0;*/
  background: #034c3c;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #ffffff;
}

.footer-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; 
  justify-content: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer-links li{
  margin: 0 10px;
  color: #ffffff;
}

.footer-links li:hover{
  color: #15B39D;
}

.footer-bottom{
  background: #0e6e59;
  width: 100vw;
  padding: 2px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 1.2vw;
  word-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}

.footer-bottom span{
  text-transform: capitalize;
  opacity: .4;
  font-weight: 200;
}

.patentForm{
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 80vw;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-left: 5%;
}

.patentForm .title{
  font-size: 40px;
  font-weight: 500;
  color: #0e6e59;
  text-align: center;
}

.content .form .patent-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.form .patent-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 5 - 20px);
}

.form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.patent-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.prvForm{
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 80vw;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-left: 37%;
}

.prvform .prv-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 4 - 20px);
}

.form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.prv-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.prv-details .input-box input:focus{
  border-color: #0e6e59;
}

.center-stepper{
  align-items: center;
  text-align: center;
  margin-top: 3%;
  margin-left: 39%;
}

/* .patent-details .input-box select{
  height: 200px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
} */

.patent-details .input-box input:focus{
  border-color: #0e6e59;
}

/* .patent-details .input-box select:focus{
  border-color: #0e6e59;
} */

.button input{
  width: 20%;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  margin-left: 45%;
  align-items: center;
  top: 5% !important;
  text-align: center;
  background: #006653;
  transition: 0.4s;
  margin-bottom: 5%;
}

.button input:hover{
  transform: scale(1.1);
  background: #009579
}

.select-box select {
  height: 20vh;
  width: 10vw;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

@media(max-width: 584px){
  .patentForm{
    max-width: 100%;
    margin-left: 0% !important;
  }
  .form .patent-details .input-box{
     margin-bottom: 15px;
     width: 100%;
   }
   .form .category{
     width: 100%;
   }
   .content .form .patent-details{
     max-height: 300px;
     overflow-y: scroll;
   }
   .patent-details::-webkit-scrollbar{
     width: 5px;
   }
}
   @media(max-width: 459px){
   .patentForm .content{
     flex-direction: column;
   }
  }

.ParallaxContainer{
  height: 100vh;
}

.ParallaxDiv{
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.HomePageContent h1{
	text-align: center;
	font-size: 8vh;
	width: 100%;
	color: #15B39D;
}

.HomePageContent h2{
	text-align: center;
	font-size: 6vh;
	width: 100%;
	color: #15B39D;
}

.FirmPageContent h1{
  text-align: center;
	font-size: 10vh;
	width: 100%;
	color: #15B39D;
}

.Login-Container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.Login-Container .loginform{
  padding: 2rem;
}

.loginform header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

 .loginform input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }

 .loginform input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }

.loginform p{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
  cursor: pointer;
}

.loginform p:hover{
  text-decoration: underline;
}

.loginform input.loginbutton{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.loginform input.loginbutton:hover{
  background: #006653;
  transform: scale(1.05);
}