body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

::selection {
  color: #f2f2f2;
  background: #0E6E59;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  /* background: #4e545f; */
}

::-webkit-scrollbar-thumb {
  background: #0E6E59;
}

::-webkit-scrollbar-thumb:hover {
  background: #15B39D;
  width: 15px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background-image: url('../public/calendar-3.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border-width: 1px;
  filter: invert(25%) sepia(100%) saturate(500%) hue-rotate(90deg);
}

.main-header{
  padding: 1rem 0;
  transition: box-shadow ease .3s, background ease .3s, padding ease .5s;
  position: fixed;
  background: transparent;
}

.on-scroll-header{
  padding: .5rem 0;
  box-shadow: 0 2px 39px 3px rgba(0,0,0,0.1);
}

.on-scroll-header a{
  color: #ffffff;
}

.hamburger-menu{
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}

@media (max-width: 767px){
  .navbar-collapse{
      opacity: 0;
      transition: height .5s ease-in-out, opacity .7s ease-in-out;
  }
  .navbar-collapse.collapse.show{
      height: 100vh !important;
      opacity: 1;
  }
}

.footer{
  /* position: absolute;
  bottom: 0;
  left: 0;*/
  background: #034c3c;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #ffffff;
}

.footer-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; 
  justify-content: center;
}

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer-links li{
  margin: 0 10px;
  color: #ffffff;
}

.footer-links li:hover{
  color: #15B39D;
}

.footer-bottom{
  background: #0e6e59;
  width: 100vw;
  padding: 2px 0;
  text-align: center;
}

.footer-bottom p{
  font-size: 1.2vw;
  word-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}

.footer-bottom span{
  text-transform: capitalize;
  opacity: .4;
  font-weight: 200;
}

.footer_link{
	font-size: 1vw !important;
	color: white !important;
	/* color: #15B39D !important; */
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500 !important;
	transition: all 0.4s ease;
	display: inline-block;
	position: relative;
}

.footer_link::after{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #15B39D;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.footer_link:hover::after{
	transform: scaleX(1);
		transform-origin: bottom left;
	color: #15B39D !important;
	border-bottom: #15B39D 2px solid !important;
}

@media screen and (max-width: 600px) {
  .footer_link{
    font-size: 1vh !important;
  }
  .footer-bottom p{
    font-size: 1.1vh !important;
  }
}

.patentForm{
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 80vw;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-left: 8%;
}

.patentForm .title{
  font-size: 40px;
  font-weight: 500;
  color: #0e6e59;
  text-align: center;
}

.patent-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 5% 0;
}

.form .patent-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 4 - 20px);
}

.form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 1%;
}

.patent-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.prvForm{
  justify-content: center;
  align-items: center;
  padding: 10px;
  max-width: 80vw;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  margin-left: 37%;
}

.prvform .prv-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 4 - 20px);
}

.form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.prv-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.prv-details .input-box input:focus{
  border-color: #0e6e59;
}

.center-stepper{
  align-items: center;
  text-align: center;
  margin-top: 3%;
  margin-left: 39%;
}

.patent-details .input-box select{
  height: 45%;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.patent-details .input-box input:focus{
  border-color: #0e6e59;
}

.patent-details h4{
  color: #0E6E59;
  font-weight: 650;
}

/* .patent-details .input-box select:focus{
  border-color: #0e6e59;
} */

.button input{
  width: 25%;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  margin-left: 40%;
  align-items: center;
  top: 5% !important;
  text-align: center;
  background: #006653;
  transition: 0.4s;
  margin-top: 3%;
  margin-bottom: 5%;
}

.button input:hover{
  transform: scale(1.1);
  background: #009579
}

.select-box select {
  height: 20vh;
  width: 10vw;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .patentForm{
    max-width: 80vh !important;
    width: 100%;
    margin-left: -4% !important;
  }

  .patentForm .title{
    font-size: 1.5vh !important;
  }

  .form .patent-details .input-box{
    margin-bottom: 1% !important;
  }

  .patent-details .input-box input{
    font-size: 1vh !important;
  }

  .button input{
    width: 90% !important;
    margin-left: 8% !important;
    margin-top: 10% !important;
  }
}

.ParallaxContainer{
  height: 100vh;
}

.ParallaxContainer1{
  height: 50vh;
}

.ParallaxDiv{
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.HomePageContent h1{
	text-align: center;
	font-size: 8vh;
	width: 100%;
	color: #15B39D;
}

.HomePageContent h2{
	text-align: center;
	font-size: 6vh;
	width: 100%;
	color: #2c444e;
}

.FirmPageContent h1{
  text-align: center;
	font-size: 10vh;
	width: 100%;
	color: #2c444e;
  margin-bottom: 5%;
}

.UpdatePageContent h1{
  text-align: center;
	font-size: 10vh;
	width: 100%;
	color: #282c34;
  margin-bottom: 5%;
}

@media screen and (max-width: 600px) {
  .HomePageContent h1{
    font-size: 5.5vh !important;
  } 
  .HomePageContent h2{
    font-size: 3vh !important;
  }
  .FirmPageContent h1{
    font-size: 5.5vh !important;
  } 
  .FirmPageContent h2{
    font-size: 3vh !important;
  }
  .UpdatePageContent h1{
    font-size: 5.5vh !important;
  } 
  .UpdatePageContent h2{
    font-size: 3vh !important;
  }
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin-top: 1%;
  padding: 0px 20px;
}

.container h2{
  color: #0E6E59;
  text-align: center;
  margin-bottom: 1%;
}

.container{
  padding: 15px 9%;
}

.container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap:12px;
}

.container .box-container .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 20px 10px;
  transition: .2s;
}

.container .box-container .box h3{
  color:#034c3c;
  font-size: 22px;
  padding:10px 0;
}

.container .box-container .box h4{
  color:#034c3c;
  font-size: 18px;
  padding:10px 0;
}

.container .box-container .box span{
  color: #282c34;
  font-size: 18px;
  padding:10px 0;
}

.container .box-container .box p{
  color:#0E6E59;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn{
  display: inline-block;
  background: transparent;
  color:#0E6E59;
  font-size: 1.5vw;
  border-radius: 5px;
  transition: .2s;
}

.container .box-container .box .btn:hover{
  color: #15B39D !important;
}

.container .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}

@media screen and (max-width: 600px) {
  .container .box-container .box .btn{
    font-size: 3.5vh !important;
  }
}

@media (max-width:768px){
  .container{
      padding:20px;
  }
}

.search-container{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  margin-top: 1%;
  padding: 0px 20px;
}

.search-container h2{
  color: #0E6E59;
  text-align: center;
  margin-bottom: 1%;
}

.search-container{
  padding: 15px 9%;
}

.search-container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap:12px;
}

.search-container .box-container .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 20px 10px;
  transition: .2s;
}

.search-container .box-container .box h3{
  color:#034c3c;
  font-size: 22px;
  padding:10px 0;
}

.search-container .box-container .box h4{
  color:#034c3c;
  font-size: 18px;
  padding:10px 0;
}

.search-container .box-container .box span{
  color: #282c34;
  font-size: 18px;
  padding:10px 0;
}

.refLink{
  color: #282c34;
  text-decoration: none;
  font-size: 18px;
}

.refLink:hover{
 text-decoration: underline 1px solid #15B39D;
}

.search-container .box-container .box p{
  color:#0E6E59;
  font-size: 15px;
  line-height: 1.8;
}

.search-container .box-container .box .btn{
  display: inline-block;
  background: transparent;
  color:#0E6E59;
  font-size: 1.5vw;
  border-radius: 5px;
  transition: .2s;
}

.search-container .box-container .box .btn:hover{
  color: #15B39D !important;
}

.search-container .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}

@media (max-width:768px){
  .search-container{
      padding:20px;
  }
}

.country-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 10px;
  justify-content: center;
}

.country-ul li{
  padding-right: 15px;
  font-size: 20px;
  font-weight: 450;
  text-align: left;
}

.search-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 10px;
  justify-content: center;
}

.search-ul li{
  padding-right: 15px;
  font-size: 20px;
  font-weight: 450;
  text-align: left;
  justify-content: left;
  text-align: left;
}

.search-span{
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #0E6E59 !important;
}

.country-ul-span{
  padding-right: 25px;
  font-size: 20px;
  font-weight: 450;
}

.country-link{
  text-decoration: none;
  color: #282c34;
}

.country-link:hover{
  color: #0E6E59 !important;
  text-decoration: underline 1px solid #0E6E59;
}

@media screen and (max-width: 600px) {
  .search-container .box-container{
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .search-container .box-container .box .btn{
    font-size: 3.5vh !important;
  }

  .search-ul li{
    font-size: 1.5vh !important;
  }

  .search-span{
    font-size: 1.5vh !important;
  }

  .search-container .box-container .box span{
    font-size: 1.5vh !important;
  }
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: 9%;
  margin-top: 3%;
}

.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-right: 40px;
  color:#282c34;
}

.input-search::placeholder{
  color: #282c34;
  font-size: 1.2vw;
  letter-spacing: 1px;
  font-weight: 450;
}

.search-icon{
  font-size: 3.5vw;
  color: #0E6E59;
  transition: .2s;
}

.search-icon:hover{
  font-size: 4vw;
  color: #15B39D;
}

.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#fff;
  background-color:transparent;
  pointer-events: painted;  
}

.btn-search:focus ~ .input-search{
  width: 600px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #0E6E59;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
  width: 600px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid #0E6E59;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


@media screen and (max-width: 600px) {
  .search-icon{
    font-size: 6vh !important;
  }

  .input-search{
    font-size: 2vh !important;
  }

  .btn-search:focus ~ .input-search{
    width: 40vh !important;
  }

  .input-search:focus{
    width: 40vh !important;
  }

  .input-search::placeholder{
    font-size: 1.5vh !important;
  }
}

.no-results img{
  width: 17%;
  height: 100%;
  margin-left: 40%;
}

.error404-Link{
  background: #009579;
  padding: 20px 30px 20px 40px;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: .5s;
}

.error404-Link:hover{
  color: #fff !important;
  transform: scale(1.3) !important;
  background: #006653;
}

.top-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  width: 4rem;
  color: #4e545f;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 999;
  transition: .2s;
}

.top-btn:hover{
  cursor: pointer;
  font-size: 2.5rem;
  color: #15B39D;
}

@media screen and (max-width: 600px) {
  .top-btn{
    right: 0.2em;
    width: 2rem;
  }
}

.patentinfo-link{
  background: transparent;
  padding: 10px 25px 20px 30px;
  font-size: 2.5vw;
  color: #15B39D;
  text-decoration: none;
  border-radius: 10px;
  transition: .5s;
  margin-left: 36%;
}

.patentinfo-link:hover{
  color: #fff !important;
  background: #006653;
}

.patentnpe-link{
  background: transparent;
  padding: 10px 25px 20px 30px;
  font-size: 3vw;
  color: #0E6E59;
  text-decoration: none;
  border-radius: 10px;
  transition: .5s;
  margin-left: 40%;
}

.patentnpe-link:hover{
  color: #fff !important;
  background: #15B39D;
  border: 2px solid #15B39D;
}

.Tabs{
  width: 65vw;
  margin-top: 2%;
  margin-left: 15%;
  border: none !important;
}

.tab-item{
  color: #0E6E59 !important;
  font-size: 1.1vw !important;
  font-weight: 600;
  background: transparent !important;
  border: none !important;
  border-radius: 10px !important;
}

.tab-item:hover{
  color: #009579 !important;
  border: 2px solid #0E6E59 !important;
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  background: #0E6E59 !important;
  border: 2px solid #0E6E59 !important;
}

.tab-data{
  margin-left: 40%;
}

.tab-data h4{
  color: #15B39D;
  font-size: 1.4vw;
}

.tab-data p{
  text-align: left;
  font-size: 1.2vw;
  color: #035c3c;
  font-weight: bold;
  justify-content: left;
}

.tab-data span{
  font-size: 1.1vw;
  font-weight: 500;
}

.tab-npe-data{
  border: 2px solid #0E6E59;
  border-radius: 10px;
}

.tab-npe-data h4{
  text-align: center;
  margin: 1.5%;
  color: #15B39D;
  font-weight: 650;
}

.tab-npe-data p{
  text-align: left;
  font-size: 1.2vw;
  color: #035c3c;
  font-weight: 550;
  justify-content: left;
  padding-left: 15px;
  padding-top: 7px;
}

.tab-npe-data span{
  font-size: 1.1vw;
  font-weight: 500;
}


@media screen and (max-width: 600px) {
  .patentinfo-link{
    font-size: 4vh !important;
    color: #282c34 !important;
    margin-left: 25% !important;
  }
  .Tabs {
    width: 90%;
    margin-left: 3%;
  }
  .tab-item{
    font-size: 1.5vh !important;
  }

  .tab-data{
    margin-left: 25% !important;
  }

  .tab-data h4{
    font-size: 1.5vh;
  }
  
  .tab-data p{
    font-size: 1.5vh;
  }
  
  .tab-data span{
    font-size: 1.5vh;
  }
  
  .tab-npe-data h4{
    font-size: 1.5vh;
  }
  
  .tab-npe-data p{
    font-size: 1.5vh;
  }
  
  .tab-npe-data span{
    font-size: 1.5vh;

  }
}

@media screen and (max-width:768px) and (min-width:601px) {
  .Tabs {
    width: 50vh !important;
    margin-left: 17% !important;
    font-size: 2vh !important;
    color: #15B39D !important;
  }
}

.NPE-notes{
  width: 90% !important;
  color: #282c34 !important;
  text-align: justify !important;
  font-weight: 450 !important;
}

.NPE-notes-icon{
  color: #0E6E59;
  font-size: 2vw !important;
}

@media screen and (max-width: 600px) {
  .NPE-notes-icon{
    font-size: 2vh !important;
  }
}

.accordion-item{
  width: 40%;
  margin-left: 29%;
  margin-top: 0.5%;
  border: none !important;
}

.accordion-button{
  color: #0E6E59 !important;
  font-size: 1.2vw !important;
  font-weight: 600;
  background: transparent !important;
  border: 2px solid #0E6E59 !important;
  border-radius: 10px !important;
  transition: .5s ease-in-out !important;
}

.accordion-button:hover{
  color: #fff !important;
  background: #0E6E59 !important;
  border-radius: 10px !important;
}

.accordion-button:focus {
  box-shadow: none;
  background: #0E6E59 !important;
  color: #fff !important;
}

.accordion-button:not(.collapsed) {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .accordion-item{
    width: 90% !important;
    margin-left: 5% !important;
  }

  .accordion-button{
    font-size: 2vh !important;
  }
}

.error-container{
  display: flex;
  flex-direction: column;
}

.error-icon{
  font-size: 15vw;
  color: #034c3c;
  margin-left: 40%;
}

.error-container p{
  text-align: center;
  font-size: 4vw;
  color: #034c3c;
}

@media screen and (max-width: 600px){
  .error-container{
    margin-top: 10% !important;
  }
}

.red {
  color: #FF4433;
  font-size: 1.1vw;
  font-weight: 700;
}

.orange {
  color: #FF5F1F;
  font-size: 1.1vw;
  font-weight: 700;
}

.yellow {
  color: #FFC000;
  font-size: 1.1vw;
  font-weight: 700;
}

.green{
  color: #0E6E59;
  font-size: 1.1vw;
  font-weight: 700;
}

.black{
  color: #282c34;
  font-size: 1.1vw;
  font-weight: 500;
}

.red-notification{
  color: #FF4433 !important;
  font-size: 1.1vw;
  font-weight: 700;
}

.orange-notification{
  color: #FF5F1F !important;
  font-size: 1.1vw;
  font-weight: 700;
}

.yellow-notification {
  color: #FFC000 !important;
  font-size: 1.1vw;
  font-weight: 700;
}

.grey-notification{
  color: #707070 !important;
  font-size: 1.1vw;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .red {
    font-size: 1.5vh !important;
  }
  
  .orange {
    font-size: 1.5vh !important;
  }
  
  .yellow {
    font-size: 1.5vh !important;
  }
  
  .green{
    font-size: 1.5vh !important;
  }
  
  .black{
    font-size: 1.5vh !important;
  }
  
  .red-notification{
    font-size: 1.5vh !important;
  }
  
  .orange-notification{
    font-size: 1.5vh !important;
  }
  
  .yellow-notification {
    font-size: 1.5vh !important;
  }
  
  .grey-notification{
    font-size: 1.5vh !important;
  }
}

.page-item .page-link {
  /* background: #009579; */
  color: #0E6E59;
  transition: .3s;
  border: 1px solid #0E6E59;
  border-radius: 10px;
  margin-right: 5px !important;
}

.page-item .page-link:hover{
  background: #0E6E59;
  color: #fff !important;
  border: 1px solid #0E6E59;
}

.pagination  .page-link.active{
  background: #fff !important;
  color: #0E6E59 !important;
}

.pagination .page-item.active .page-link {
  background: #0E6E59;
  color: #fff;
  border: none !important;
}

.Pagination-info{
  text-align: center;
  font-size: 1.5vw;
  color: #0E6E59;
  margin-top: 2%;
}

.new-entry h1{
  text-align: center;
	font-size: 10vh;
	width: 100%;
	color: #2c444e;
  margin-bottom: 5%;
}

.new-entry-links{
  display: flex;
  flex-direction: row;
}

.entry-link{
  margin-left: 5%;
  background: transparent;
  padding: 20px 30px 20px 40px;
  font-size: 1.5vw;
  color: #009579;
  text-decoration: none;
  border: 2px solid #0E6E59;
  border-radius: 10px;
  transition: .5s;
}

.entry-link:hover{
  color: #fff !important;
  transform: scale(1.1) !important;
  background: #006653;
}

@media screen and (max-width: 600px) {
  .new-entry h1{
    font-size: 5.5vh !important;
  }

  .entry-link{
    font-size: 1.5vh !important;
    padding: 15px 25px 15px 35px;
    margin-top: 3% !important;
  }
}

.PCT-Container{
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  margin-left: 17%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.PCT-Container .PCTform{
  padding: 2rem;
}

.PCTform{
  margin-left: 10%;
  /* width: 100%; */
}

.PCTform input{
  height: 40px;
  width: 40%;
  padding: 0 15px;
  font-size: 1.05vw;
  color: #282c34 !important;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
}

.PCTform textarea{
  height: 150px;
  width: 110%;
  padding: 10px 15px;
  font-size: 1.05vw;
  color: #282c34 !important;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
  outline: none;
}

.PCTform input:focus{
  border: 1px solid #0E6E59;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.PCTform textarea:focus{
  border: 1px solid #0E6E59;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.PCTform input.pctbutton{
  color: #fff !important;
  background: #009579;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  margin-left: 30%;
}

.PCTform input.pctbutton:hover{
  background: #006653;
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  .PCT-Container{
    max-width: 100% !important;
    margin-left: -10% !important;
  }

  .PCTform input{
    width: 90% !important;
    font-size: 1.5vh !important;
  }

  .PCTform textarea{
    width: 100% !important;
    font-size: 1.5vh !important;
  }

  .PCTform input.pctbutton{
    margin-left: 12% !important;
    font-size: 2vh !important;
  }
}

.error-message{
  font-size: 1.1vw;
  text-align: center;
  color: #FF4433;
  font-weight: 600;
}

.add-npe{
  background: transparent !important;
  border: 2px solid #0E6E59 !important;
  color: #0E6E59 !important;
  font-size: 1.1vw !important;
  transition: 1s;
}

.add-npe:hover{
  background: #0E6E59 !important;
  color: #fff !important;
}

.remove-npe{
  background: transparent !important;
  border: 2px solid #FF4433 !important;
  color: #FF4433 !important;
  font-size: 20px !important;
  transition: 1s;
}

.remove-npe:hover{
  background: #FF4433 !important;
  color: #fff !important;
}

@media screen and (max-width: 600px) {
  .add-npe{
    font-size: 1.7vh !important;
  }

  .remove-npe{
    font-size: 1.7vh !important;
  }
}

.Login-Container{
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  margin-top: 3%;
}

.Login-Container .loginform{
  padding: 2rem;
  text-align: center;
  font-size: 3vw;
  color: #0E6E59;
  font-weight: 600;
}

.loginform input{
  height: 45px;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  color: #282c34;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
}

.password-input-box{
  position: relative;
  width: 100%;
}

.password-input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #282c34;
  border-radius: 5px;
  padding: 0 40px 0 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-top: 1%;
  background-color: transparent;
}

.password-input-box .eye-icon {
  font-size: 20px;
  color: #0E6E59;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .Login-Container .loginform{
    font-size: 2.5vh !important;
  }

  .password-input-box .eye-icon{
    top: 40% !important;
  }
}

.patent-textarea{
  height: 150px;
  width: 110%;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
  outline: none;
}

.notif-textarea{
  height: 150px;
  width: 100% !important;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
  margin-top: 15px;
  outline: none;
}

.loginform input:focus{
  border: 1px solid #0E6E59;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.loginform input.loginbutton{
  color: #fff;
  background: #009579;
  width: 50% !important;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}

.loginform input.loginbutton:hover{
  background: #006653;
  transform: scale(1.05);
}

.loginform input.loginbutton:disabled{
  color: #fff;
  background: #707070;
}

.forgot-pass{
  color: #0E6E59;
  cursor: pointer;
  font-size: 13px;
}

.forgot-pass:hover{
  text-decoration: 1px underline #0E6E59 !important;
}

.login-links{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.register-Link{
  display: inline !important;
  text-decoration: none !important;
  color: #0E6E59;
  font-size: 13px;
}

.register-Link:hover{
  text-decoration: 1px underline #0E6E59 !important;
}

@media screen and (max-width: 600px) {
  .loginform input.loginbutton{
    width: 100% !important;
  }
}

.signout-button{
  background: transparent !important;
  border: 2px solid #FF4433 !important;
  transition: .5s !important;
  font-size: 1.05vw !important;
  margin-left: 22% !important;
  margin-top: 5% !important;
  margin-bottom: 3% !important;
}

.signout-button:hover{
  background: #FF4433 !important;
  color: #fff !important;
  transform: scale(1.1);
}

.signin-button{
  background: transparent !important;
  border: 2px solid #fff !important;
  transition: .5s !important;
  font-size: 20px !important;
}

.signin-button:hover{
  background: #fff !important;
  color: #0E6E59 !important;
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .signout-button{
    font-size: 2.5vh !important;
    margin-top: 2% !important;
    margin-left: 30% !important;
  }
}

.close-button{
  background: transparent !important;
  transition: .5s !important;
  font-size: 15px !important;
  color: #0E6E59 !important;
  border: 2px solid #0E6E59 !important;
}

.close-button:hover{
  background: #0E6E59 !important;
  color: #fff !important;
  transform: scale(1.1);
}

.signout-modal-button{
  background: transparent !important;
  border: 2px solid #FF4433 !important;
  color: #FF4433 !important;
  transition: .5s !important;
  font-size: 15px !important;
}

.signout-modal-button:hover{
  background: #FF4433 !important;
  color: #fff !important;
  transform: scale(1.1);
}

.Modal-header{
  color: #0E6E59 !important;
  text-align: center !important;
  margin-left: 10% !important;
}

.Modal-header span{
  text-transform: uppercase;
  font-weight: 650;
}

.Modal-header-pct{
  color: #0E6E59 !important;
  text-align: center !important;
}

.Modal-title-pct{
  color: #0E6E59;
  text-align: center !important;
  margin-left: 30%;
}

@media screen and (max-width: 600px) {
  .Modal-title-pct{
    margin-left: 10% !important;
  }
}

.modal-content {
  border: none !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.Modal-title-Update{
  color: #0E6E59;
  text-align: center !important;
  margin-left: 25%;
}

.bread-crumb{
  margin-left: 2% !important;
  margin-top: 2% !important;
}

Breadcrumb.Item{
  text-decoration: none !important;
}

.BC-Links{
  font-size: 1vw;
  font-weight: 547;
  text-decoration: none !important;
  color: #282c34;
  transition: .3s;
}

.BC-Links:hover{
  color: #0E6E59 !important;
  text-decoration: underline 1px solid #0E6E59 !important;
}

.input-box-container{
  margin-left: 30%;
  margin-bottom: 7%;
}

.input-box-container h3{
  color: #0E6E59;
  font-size: 40px;
  margin-left: 16%;
}

.input-box-container h4{
  color: #0e6e59;
  font-size: 1.4vw;
  margin-top: 1%;
}

@media screen and (max-width: 600px) {
  .BC-Links{
    font-size: 1.5vh !important;
  }
  .input-box-container h3{
    font-size: 1.5vh !important;
  }
  .input-box-container h4{
    font-size: 1.5vh !important;
  }
}

.prv{
  display: flex;
  text-align: center;
  font-weight: 500;
  color: #0E6E59;
  font-size: 1.8vw;
  margin-top: 2%;
  margin-left: 7%;
}

.pct{
  display: flex;
  text-align: center;
  font-weight: 500;
  color: #0E6E59;
  font-size: 1.8vw;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.npe{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1.8vw;
  color: #0E6E59;
  text-align: center;
  margin-top: -5%;
  margin-bottom: 2%;
}

.npe-details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 25px;
  color: #0E6E59;
  margin-left: 20%;
  margin-top: 1%;
}

.input-box input{
  height: 45px;
  width: 60%;
  outline: none;
  font-size: 1.05vw;
  border-radius: 5px;
  color: #282c34;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-top: 1%;
}

.input-box input:focus{
  border-color: #0e6e59;
}

.input-box select{
  height: 45px;
  width: 60%;
  outline: none;
  font-size: 1.05vw;
  border-radius: 5px;
  color: #282c34;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.input-box select:focus{
  border-color: #0e6e59;
}

.input-box textarea{
  height: 200px;
  width: 90%;
  outline: none;
  font-size: 1.05vw;
  border-radius: 5px;
  color: #282c34;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-top: 1%;
  padding-top: 5px;
}

.input-box textarea:focus{
  border-color: #0e6e59;
}

@media screen and (max-width: 600px) {
  .input-box-container{
    margin-left: 10% !important;
  }

  .prv{
    font-size: 2vh !important;
    margin-left: 5% !important;
    margin-bottom: 5% !important;
    margin-top: 3% !important;
  }

  .pct{
    font-size: 2vh !important;
    margin-left: 5% !important;
    margin-bottom: 5% !important;
    margin-top: 3% !important;
  }

  .npe{
    font-size: 2vh !important;
    margin-left: 5% !important;
    margin-bottom: 5% !important;
    margin-top: 3% !important;
  }

  .npe-details{
    font-size: 2.5vh !important;
    margin-left: 20% !important;
  }

  .input-box input{
    width: 100% !important;
    font-size: 1.5vh !important;
  }

  .input-box select{
    width: 100% !important;
    font-size: 1.5vh !important;
  }

  .input-box textarea{
    width: 110% !important;
    height: 150px !important;
    font-size: 1.5vh !important;
  }
}

.add-date{
  background: transparent !important;
  border: 2px solid #0E6E59 !important;
  color: #0E6E59 !important;
  font-size: 1.05vw !important;
  transition: 1s;
  margin-left: 22%;
  margin-top: 1%;
}

.add-date:hover{
  background: #0E6E59 !important;
  color: #fff !important;
}


.add-prv-date{
  background: transparent !important;
  border: 2px solid #0E6E59 !important;
  color: #0E6E59 !important;
  font-size: 1.1vw !important;
  transition: 1s;
  margin-left: 25%;
  margin-top: 1%;
}

.add-prv-date:hover{
  background: #0E6E59 !important;
  color: #fff !important;
}

.remove-date{
  background: transparent !important;
  border: 2px solid #FF4433 !important;
  color: #FF4433 !important;
  font-size: 1.05vw !important;
  transition: 1s;
  margin-left: 21%;
  margin-top: 1%;
}

.remove-date:hover{
  background: #FF4433 !important;
  color: #fff !important;
}

.remove-prv-date{
  background: transparent !important;
  border: 2px solid #FF4433 !important;
  color: #FF4433 !important;
  font-size: 1.1vw !important;
  transition: 1s;
  margin-left: 46%;
  margin-top: 1%;
}

.remove-prv-date:hover{
  background: #FF4433 !important;
  color: #fff !important;
}

@media screen and (max-width: 600px) {
  .add-prv-date{
    margin-top: 4% !important;
    font-size: 1.5vh !important;
    margin-left: 35% !important;
  }

  .remove-prv-date{
    margin-top: 4% !important;
    font-size: 1.5vh !important;
    margin-left: 68% !important;
  }

  .add-date{
    margin-top: 4% !important;
    font-size: 1.5vh !important;
    margin-left: 25% !important;
  }

  .remove-date{
    margin-top: 4% !important;
    font-size: 1.3vh !important;
    margin-left: 60% !important;
  }
}

.submit-data{
  background: #0E6E59 !important;
  color: #fff !important;
  font-size: 30px !important;
  transition: .4s !important;
  margin: .5%;
  border: none !important;
  border-radius: 10px !important;
}

.submit-data:hover{
  color: #15B39D !important;
  color: #fff !important;
}

.remove-npe-form{
  background: transparent !important;
  border: 2px solid #FF4433 !important;
  color: #FF4433 !important;
  font-size: 1.1vw !important;
  transition: 1s;
  margin-left: 73%;
}

.remove-npe-form:hover{
  background: #FF4433 !important;
  color: #fff !important;
}

.Modal-title-submit-form{
  color: #0E6E59;
  text-align: center !important;
  margin-left: 17%;
}

@media screen and (max-width: 600px) {
  .remove-npe-form{
    font-size: 1.5vh !important;
    margin-left: 70% !important;
    margin-top: 5% !important;
  }

  .Modal-title-submit-form{
    margin-left: 0% !important;
  }
}

.update-accordion .accordion-item{
  width: 80%;
  margin-left: 10%;
  margin-top: 0.5%;
  border: none !important;
}

.update-accordion .accordion-button{
  color: #0E6E59 !important;
  font-size: 1.2vw !important;
  font-weight: 600;
  background: transparent !important;
  border: 2px solid #0E6E59 !important;
  border-radius: 10px !important;
  transition: .5s ease-in-out !important;
}

.update-accordion .accordion-button:hover{
  color: #fff !important;
  background: #0E6E59 !important;
  border-radius: 10px !important;
}

.update-accordion .accordion-button:focus {
  box-shadow: none;
  background: #0E6E59 !important;
  color: #fff !important;
}

.update-accordion .accordion-button:not(.collapsed) {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .update-accordion .accordion-item{
    width: 100% !important;
    margin-bottom: 2% !important;
  }

  .update-accordion .accordion-button{
    font-size: 2vh !important;
  }
}

.pagination-container{
  display: flex;
  justify-content: center;
}

.pagination-patents-sm{
  margin-left: 46%;
}

.select-paginate{
  margin-left: 2%;
}

.MuiPagination-root .Mui-selected {
  background-color: #0E6E59 !important;
  color: white !important;
}

.table-pagination-container{
  margin-top: 2%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}

.MuiTablePagination-toolbar{
  color: #0E6E59;
  font-size: 1vw;
}

.MuiTablePagination-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.MuiTablePagination-spacer {
  flex-grow: 1;
}

.MuiSelect-selectMenu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .select-paginate{
    width: 16vh !important;
    font-size: 1.3vh !important;
    margin-bottom: 4% !important;
  }

  .pagination-container{
    width: 100% !important;
  }
}

.popover{
  background: transparent !important;
  border-bottom: 2px solid #15B39D !important;
}

.popover-msg{
  color: #15B39D !important;
  font-size: 1.05vw;
}

.popover-dates{
  color: #15B39D !important;
  font-size: 1.05vw;
}

.remove-application-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-application{
  background: transparent !important;
  border: 2px solid #FF4433 !important;
  color: #FF4433 !important;
  font-size: 1.2vw !important;
  margin-bottom: 2%;
  transition: 1s;
}

.remove-application:hover{
  background: #FF4433 !important;
  color: #fff !important;
}

@media screen and (max-width: 600px) {
  .remove-application{
    font-size: 1.5vh !important;
  }
}

.homeBtn-container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.homeBtn{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #2c444e;
  text-decoration: none;
  width: 450px;
  padding: 20px 10px 20px 10px;
  text-align: center;
  color: #2c444e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.homeBtn:hover, .homeBtn:focus, .homeBtn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: #15B39D;
  color: #fff !important;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 1px solid #15B39D;
}

@media screen and (max-width: 600px) {
  .homeBtn{
    width: 320px;
  }
}

.customNote-link{
  display: flex;
  justify-content: center;
  background: transparent;
  font-size: 4vw;
  color: #15B39D;
  text-decoration: none;
  border-radius: 10px;
  transition: .5s;
}

.customNote-link:hover{
  color: #2c444e !important;
}

.firm-link{
  display: flex;
  justify-content: center;
  background: transparent;
  font-size: 4vw;
  color: #2c444e;
  text-decoration: none;
  border-radius: 10px;
  transition: .5s;
}

.firm-link:hover{
  color: #15B39D !important;
}

.create-customNote-link{
  display: flex;
  justify-content: center;
  background: transparent;
  font-size: 4vw;
  color: #2c444e;
  text-decoration: none;
  border-radius: 10px;
  transition: .5s;
}

.create-customNote-link:hover{
  color: #15B39D !important;
}

.notification-header{
  text-align: center;
  color: #0E6E59;
  font-weight: 600;
  font-size: 2vw;
}

.notification-table{
  width: 90% !important;
  margin: 0 auto;
  border-radius: 10px;
}

.notification-table thead{
  text-align: center;
  color: #0E6E59;
  font-size: 1.25vw;
  position: sticky;
  top: 0px;
  background: #ffffff;
  vertical-align: middle !important;
}

.notification-table tbody{
  text-align: center;
  font-size: 1.03vw;
  color: #282c34;
}

@media screen and (max-width: 600px) {
  .customNote-link{
    font-size: 6vh !important;
  }

  .create-customNote-link{
    font-size: 6vh !important;
  }

  .firm-link{
    font-size: 6vh !important;
  }

  .firm-customNote-link{
    font-size: 6vh !important;
  }

  .notification-header{
    font-size: 2vh !important;
  }

  .notification-table{
    width: 90% !important;
  }

  .notification-table thead{
    font-size: 1.5vh !important;
  }

  .notification-table tbody{
    font-size: 1.15vh !important;
  }
}

.update-notification{
  color: #0E6E59;
  font-size: 1.5vw;
  transition: .3s;
}

.reference-links{
  color: #282c34;
  text-decoration: none;
  font-weight: 600;
}

.reference-links:hover{
  color: #0E6E59;
  text-decoration: underline 1px solid #0E6E59;
}


.delete-notification{
  color: #FF4433;
  font-size: 1.5vw;
  transition: .3s;
  cursor: pointer;
}

.delete-notification:hover{
  transform: scale(1.1);
}

.delete-update-notification{
  color: #FF4433;
  font-size: 2.5vw;
  transition: .3s;
  cursor: pointer;
}

.delete-update-notification:hover{
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .update-notification{
    font-size: 2.5vh !important;
  }

  .delete-notification{
    font-size: 2.5vh !important;
  }

  .delete-update-notification{
    font-size: 5vh !important;
  }
}

.delete-input-box{
  position: relative;
  width: 60%;
}

.delete-input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  color: #282c34;
  padding: 0 40px 0 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-top: 1%;
  background-color: transparent;
}

.delete-input-box input:focus{
  border-color: #0e6e59 !important;
}

.delete-input-box .eye-icon {
  font-size: 25px;
  color: #0E6E59;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchPatentImg-container{
  display: flex;
  justify-content: center;
}

.searchPatentImg{
  width: 25%;
}

.forgot-code{
  color: #0E6E59;
  font-size: 13px;
  cursor: pointer;
  margin-top: 1%;
}

.forgot-code:hover{
  color: #15B39D;
  text-decoration: underline 1px solid #15B39D;
}

.Firms-Table{
  width: 60% !important;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 10px;
}

.Firms-Table thead{
  position: sticky;
  top: 0px;
  background: white;
  text-align: center;
  color: #0E6E59;
  font-size: 1.25vw;
}

.Firms-Table tbody{
  text-align: center;
  font-size: 1.03vw;
  color: #282c34;
}

@media screen and (max-width: 600px) {
  .Firms-Table{
    width: 70% !important;
  }

  .Firms-Table thead{
    font-size: 1.5vh !important;
  }

  .Firms-Table tbody{
    font-size: 1.5vh !important;
  }

  .delete-input-box{
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .dna-wrapper {
    margin-left: 10% !important;
    margin-top: 50% !important;
    width: 80% !important;
  }
}

.session-timeout-header{
  color: #FF4433;
  font-size: 2vw !important;
  margin-left: 15%;
}

.session-timeout-header span{
  text-transform: uppercase;
  font-weight: 650;
}

.session-timeout-msg{
  color: #282c34;
  font-size: 1.2vw;
  text-align: center;
}

.signout-modal-session-button{
  background: transparent !important;
  border: 2px solid #15B39D !important;
  color: #15B39D !important;
  transition: .5s !important;
  font-size: 1.2vw !important;
}

.signout-modal-session-button:hover{
  background: #15B39D !important;
  color: #fff !important;
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .dna-wrapper {
    margin-left: 10% !important;
    margin-top: 50% !important;
    width: 80% !important;
  }

  .session-timeout-header{
    font-size: 3vh !important;
    margin-left: 15% !important;
  }

  .session-timeout-msg{
    font-size: 2vh !important;
  }

  .signout-modal-session-button{
    font-size: 2vh !important;
  }
}

.sort-icon{
  font-size: 25px;
  margin-left: 3px;
  color: #0E6E59;
}

.npe-links{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.npe-link{
  margin-left: 15px;
  background: transparent;
  padding: 20px 30px 15px 40px;
  font-size: 1.2vw;
  font-weight: 550;
  color: #282c34;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: .5s;
  background: transparent;
  border: 2px solid #282c34;
}

.npe-link:hover{
  color: #fff !important;
  transform: scale(1.15) !important;
  border: 2px solid #15B39D;
  background: #15B39D;
}

.npe-top-pagination-container{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.npe-bottom-pagination-container{
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 3%;
}

@media screen and (max-width: 600px) {
  .npe-links{
    display: flex;
    flex-direction: column;
  }

  .npe-link{
    font-size: 2.1vh !important;
    text-align: center;
    padding: 15px 25px 15px 35px;
    margin-top: 3% !important;
  }
}